SUPABASE_URL=https://vxnatdrswtaypmpqcycm.supabase.co
SUPABASE_KEY=sb_publishable_cBDknKY_Md3GkDnyUwOhgw_vriyG_UY
SECRET_KEY=fedd6edb3ef5e241d954af3203235778445f9febf6466e73e58b31749e355ba9
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com
